@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  ::selection {
    background-color: #eb0808;
    color: #fff;
  }
}
@layer components {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
